@model IEnumerable<TryCatch.Models.Article>
        
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Description)</td>
        <td>@Html.DisplayFor(modelItem => item.Price)</td>
        <td>@Html.ActionLink("Add to cart", "Add", new { id = item.Id })</td>
    </tr>
}
    