<div class="jumbotron">
    <h4>Try Catch API</h4>
    <p class="lead"></p>
    <p>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>